@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: white;
    outline: none;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    min-height: 100vh;
    background-size: cover;
}

.main h1 {
    padding: 20px 0;
    font-size: 54px;
}

.main .todo-form {
    padding-bottom: 20px;
}

.main .todo-form .todo-input {
    width: 350px;
    padding: 10px 20px;
    background-color: rgba(224, 222, 221, 0.3);
    border: 1px solid transparent;
    border-radius: 5px;
    margin-right: 10px;
}

.main .todo-form .todo-input::placeholder {
    color: #BDBDBD;
}

.main .todo-form .todo-btn {
    cursor: pointer;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgba(50, 170, 30);
}

.main .todo-form .todo-btn:hover {
    background-color: rgba(50, 170, 30, 0.8);
}

.main .task {
    display: flex;
    padding: 10px 0;
    min-width: 529px;
    justify-content: space-between;
    align-items: center;
    transition: 0.1s all;
}

.main .task:hover {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}


.main .task p {
    margin-right: 10px
}

.main .delete-btn {
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: rgba(215, 27, 27);
    cursor: pointer;
}

.main .delete-btn:hover {
    background-color: rgb(215, 27, 27, 0.8);
}